/**
 * @file
 * Stylesheet for the Admin Goto plugin.
 */
[id^="admin-goto"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#admin-goto-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.admin-goto-form-wrapper {
  pointer-events: none;
  left: 0;
  width: 100%;
  position: fixed;
  top: 20%;
  z-index: 9999;
}
#admin-goto-form {
  pointer-events: auto;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  font: 16px/1.5 sans-serif;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s false;
}
#admin-goto-form label {
  display: none;
}
#admin-goto-form,
#admin-goto-form input,
#admin-goto-form a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.admin-goto-form-wrapper.hide-form {
  position: absolute;
  left: -100%;
  opacity: 0;
}

#admin-goto-form-inner {
  background: #fff;
  color: #444;
  padding: 10px 10px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6);
}

#admin-goto-q {
  background: #d1d1d1;
  color: #000;
  border: 0;
  font: 30px sans-serif;
  line-height: 52px;
  padding: 5px 10px;
  width: 100%;
  height: 52px;
  outline: none;
  display: block;
  margin: 0 0 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

#admin-goto-q:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#admin-goto-results ul {
  position: static;
  float: none;
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  border: 0;
}

#admin-goto-results li {
  margin: 0;
  padding: 0;
  float: none;
  clear: none;
  width: auto;
}

#admin-goto-results a {
  display: block;
  border: 0;
  outline: none;
  color: #444;
  padding: 6px 10px 4px;
  line-height: normal;
  font-size: 16px;
  text-decoration: none;
  height: auto;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

#admin-goto-results a.ui-state-hover,
#admin-goto-results a:focus,
#admin-goto-results a:hover,
#admin-goto-results .ui-state-focus {
  background: #d1d1d1;
  color: #000;
  margin: 0;
  cursor: pointer;
}

#admin-goto-results .description {
  display: block;
  font-size: 11px;
  color: #888;
}

#admin-goto-results a.ui-state-hover .description {
  color: #666;
}

#admin-goto-results .ui-widget {
  font-family: sans-serif;
}

#admin-goto-q {
  background-image: url("../images/icons/admin-goto.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

#wpadminbar .admin-goto .ab-icon:before {
  width: 20px;
  height: 20px;
  display: block;
  font: normal 20px/1 dashicons !important;
  content: "\f179";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 2px;
}

#admin-goto-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 22px;
  color: #aeaeae;
}
#admin-goto-form ::-moz-placeholder { /* Firefox 19+ */
  font-size: 22px;
  color: #aeaeae;
}
#admin-goto-form :-ms-input-placeholder { /* IE 10+ */
  font-size: 22px;
  color: #aeaeae;
}
#admin-goto-form :-moz-placeholder { /* Firefox 18- */
  font-size: 22px;
  color: #aeaeae;
}

